
.card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px; 
	padding: 20px; 
	margin-left: 10%;
  }

.card {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	width: 400px;
	text-align: center;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.form-group{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}
.control-label{
	padding-right: 40px;
}

.filter-main-div{
	display: flex;
	justify-content: space-around;
	align-items: center;
}