  <div id= "navbar"><p>Task Management</p>
  <div class="search-container">
  
   </div>
</div>
 <div id="app">
 <Navbar />
  <main id="main">
    {{outlet}}
  </main>
</div>
<div class="footer">&copy;<span id="year"> </span><span> Task management. All rights reserved.</span></div>
