<div class="container-fluid min-vh-100 bg-dark d-flex align-items-center justify-content-center">
  <div class="position-relative w-50">
    <div class="position-absolute end-0 bottom-0 bg-warning h-100 w-100 rounded-xl"></div>
    <div class="position-relative bg-secondary text-light rounded-xl p-5 mb-5">
      <div class="bg-warning h-2 w-25"></div>
      <div class="display-3 font-weight-bold text-light">{{@model.title}}</div>
      <div class="lead text-light">{{@model.description}}</div>
      <div class="lead text-light">Priority: {{@model.priority}}</div>
      <div class="lead text-light">Status: {{@model.status}}</div>
    </div>
  </div>
</div>
